*.svg
*.png
*.json
*.md
*.mdx

.eslintignore
.gitignore
.prettierignore
.stylelintignore
.npmrc
Dockerfile.client
Dockerfile.server
.dockerignore

/build
node_modules
*.log
*.d.ts
*.config.ts
*.config.js